@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

@import 'tailwindcss';

body {
  @apply bg-zinc-950 text-slate-50;
  font-family: 'Outfit', system-ui, sans-serif;
}

html,
body {
  overscroll-behavior: none;
}
